# ----------------------
# Flask
# ----------------------
flask


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
